<div class="[ contact ] [ panel ] [ dot-shadow ] [ bg-tertiary-glare ]">
  <div class="wrapper">
    <div class="leading-flat font-sans weight-bold flow-space-700">
      <ul class="[ auto-grid ] [ marker-list ]">
        <li data-icon="{{ phone.icon }}">
          <a href="tel:+380971336851">{{ phone.number }}</a>
        </li>
        <li data-icon="{{ email.icon }}">
          <a href="mailto:pancheliuga.o@gmail.com">{{ email.adress }}</a>
        </li>
        <li data-icon="{{ linkedin.icon }}">
          <a
            href="{{ linkedin.adress }}"
            target="_blank"
            >linkedIn</a>
        </li>
        <li data-icon="{{ twitter.icon }}">
          <a
            href="{{ twitter.adress }}"
            target="_blank"
            >twitter</a>
        </li>  
        <li data-icon="{{ github.icon }}">
          <a href="{{ github.adress }}"
            target="_blank"
            >GitHub</a>
      </li>
    </ul>
    </div>
  </div>
</div>
    